<footer>
  <img class="img-fluid d-block mx-auto" src="../Images/brand.png" alt="" />
  <div class="container pt-4">
    <div class="row">
      <div class="col-lg-8 col-md-12 d-flex">
        <div class="footer__group">
          <div class="footer__group__name d-flex flex-column">THÔNG TIN</div>
          <ul class="footer__group__list">
            <li><a href="" class="footer__group__item">Về chúng tôi</a></li>
            <li><a href="" class="footer__group__item">Giao hàng</a></li>
            <li><a href="" class="footer__group__item">Cảm nghĩ</a></li>
            <li><a href="" class="footer__group__item">Liên hệ</a></li>
            <li><a href="" class="footer__group__item">Chính sách riêng tư</a></li>
          </ul>
        </div>
        <div class="footer__group">
          <div class="footer__group__name d-flex flex-column">MUA HÀNG</div>
          <ul class="footer__group__list">
            <li><a href="" class="footer__group__item">Vận chuyển và trả hàng</a></li>
            <li><a href="" class="footer__group__item">Hua hàng an toàn</a></li>
            <li><a href="" class="footer__group__item">Vận quốc tế</a></li>
            <li><a href="" class="footer__group__item">Liên kết</a></li>
            <li><a href="" class="footer__group__item">Dịch vụ giảm giá</a></li>
          </ul>
        </div>
        <div class="footer__group">
          <div class="footer__group__name d-flex flex-column">GỬI EMAIL</div>
          <div class="email__description">Gửi email cho chúng tôi để được hỗ trợ</div>
          <form class="d-flex" action="">
            <input class="email__send__input" type="text" placeholder="Enter your email" />
            <button class="email__send__btn">Gửi</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="footer__group contact__group">
          <div class="footer__group__name">LIÊN HỆ</div>
          <div class="d-flex pt-1">
            <span class="material-symbols-outlined contact__icon"> location_on </span>
            Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn, P. Cống Vị, Q. Ba Đình, Hà Nội
          </div>
          <div class="pt-2">
            <span class="material-symbols-outlined contact__icon"> contact_phone </span> (04) 6674 2332 -
            <span class="material-symbols-outlined contact__icon"> contact_phone </span> (04) 3786 8904
          </div>
          <div class="pt-2">
            <span class="material-symbols-outlined contact__icon"> contact_phone </span> (08) 6680 9686
            <span class="material-symbols-outlined contact__icon"> mail </span>
            <span class="support__email">Support@bizweb.vn</span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="copyright px-3">© Copyright 2008-2014 DKT Technology JSC</div>
      </div>
      <div class="col-lg-4 col-md-12">
        <img class="px-3 mb-3" src="../Images/payment.png" alt="" />
      </div>
    </div>
  </div>
</footer>
<link rel="stylesheet" type="text/css" href="components/footer.css" />
