<nav class="navbar navbar__second navbar-expand-lg bg-body-tertiary container-fluid py-0 px-0">
  <div class="container-lg">
    <a class="navbar-brand" href="/"><img class="logo" src="../Images/logo2.png" alt="" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#secondNavbar"
      aria-controls="secondNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="secondNavbar">
      <ul class="navbar-nav w-100 mb-lg-0 justify-content-between">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">TRANG CHỦ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">RƯỢU VANG ĐỎ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">RƯỢU TRẮNG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CHAMPAGNE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">THÔNG TIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LIÊN HỆ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<link rel="stylesheet" type="text/css" href="components/navbar.css" />
